<div div [ngClass]="ngClass"></div>
<div [ngClass]="ngClass">
    <app-display [ngClass]="'formulaScreen'" [id]="'formulaScreen'" [value]=formula >0</app-display>
    <app-display [ngClass]="'outputScreen'" [id]="'outputScreen'" [value]=result>0</app-display>
</div>
<div>
    <app-all-button [ngClass]="'ac'" id="clear" [value]="'AC'" (click)="onClickDeleteAll()"></app-all-button>
    <app-all-button [ngClass]="'opbutton'" id="divide" [value]="'/'"(click)="addOperationSign('/')"></app-all-button>
    <app-all-button [ngClass]="'opbutton'" id="multiply" [value]="'*'"(click)="addOperationSign('*')"></app-all-button>
</div>
<div>
    <app-all-button [ngClass]="'numbutton'" id="seven" [value]="'7'" (click)="onClickShowValue('7')"></app-all-button>
    <app-all-button [ngClass]="'numbutton'" id="eight" [value]="'8'" (click)="onClickShowValue('8')"></app-all-button>
    <app-all-button [ngClass]="'numbutton'" id="nine" [value]="'9'" (click)="onClickShowValue('9')"></app-all-button>
    <app-all-button [ngClass]="'opbutton'" id="subtract" [value]="'-'"(click)="addOperationSign('-')"></app-all-button>
</div>
<div>
    <app-all-button [ngClass]="'numbutton'" id="four" [value]="'4'"(click)="onClickShowValue('4')"></app-all-button>
    <app-all-button [ngClass]="'numbutton'" id="five" [value]="'5'" (click)="onClickShowValue('5')"></app-all-button>
    <app-all-button [ngClass]="'numbutton'" id="six" [value]="'6'" (click)="onClickShowValue('6')"></app-all-button>
    <app-all-button [ngClass]="'opbutton'" id="add" [value]="'+'"(click)="addOperationSign('+')"></app-all-button>
</div>
<div>
<app-all-button [ngClass]="'numbutton'" id="one" [value]="'1'"(click)="onClickShowValue('1')"></app-all-button>
    <app-all-button [ngClass]="'numbutton'" id="two" [value]="'2'"(click)="onClickShowValue('2')"></app-all-button>
    <app-all-button [ngClass]="'numbutton'" id="three" [value]="'3'" (click)="onClickShowValue('3')"></app-all-button>
</div>
<div>
    <app-all-button [ngClass]="'zero'" id="zero" [value]="'0'" (click)="onClickShowValue('0')"></app-all-button>
    <app-all-button [ngClass]="'numbutton'" id="decimal" [value]="'.'" (click)="onClickPoint('.')"></app-all-button>
    <app-all-button [ngClass]="'equals'" id="equals" [value]="'='" (click)=" onClickEquals()"></app-all-button>
</div>

